@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&family=Rozha+One&display=swap');

/* timer */
h1 {    
    font-family: "Rozha One";
    font-style: normal;
    font-size: 48px;
    font-weight: 400;
    margin: 0 6px;  
    width: 58px;
    height: 73px;
    text-align: center;
}

/* drop zone font*/
h2 {
    font-family: "Rozha One";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.15em;
    width: 130px;
    height: 43px;
    text-align: center;
}

.background {
    background-image: url("../../images/landing.jpg");
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    background-size: cover;
    height: 100vh;
}

.titleDropPosition {
    position: fixed;
    top: 3%;
    right: 3.4%;
}

.titleZonePosition {
    position: fixed;
    top: 9%;
    right: 2%;    
}

.blackAndWhite {
    background-color: #000000;
    color: #ffffff;
}

.productFont {
    color: #000000;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 40px;
    letter-spacing: 0.15em;
}

.productCountdown {
    align-items: center;
    display: flex;
    flex-direction: column;
    top: 45%; 
    left: 50%;
    margin: 0;
    position: fixed;
}

.countdownContainer {
    margin: 36px 0 0;
    display: flex;
}

.timerContainer {
    margin: 0 12px;
    display: flex;
    flex-direction: column;
}

.timerBox {
    margin: 0;
    display: flex;
}

.timerMetrics {
    margin: 15px 0 0;
    display: flex;
    justify-content: center;
}

.timerFont {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.15em;
}

.messageFont {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 0.15em;
}

.messageContainer {
    margin: 22px 0 0;
    display: flex;
}

@media only screen and (max-width: 768px) {

    /* timer */
    h1 {    
        font-family: 'Rozha One';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 40px;
        margin: 0 3px;  
        width: 32px;
        height: 40px;
        text-align: center;
    }

    .productFont {
        font-size: 24px;
    }

    .titleDropPosition {
        top: 1.5%;
        left: 52%;
    }
    
    .titleZonePosition {
        top: 9.5%;
        left: 59%;    
    }

    .productCountdown {
        top: 70%; 
        left: 0;
        width: 100vw;
    }

    .timerFont {
        font-size: 14px;
        line-height: 16px;
    }

    .countdownContainer {
        margin: 17px 0 0;
    }
    
    .timerContainer {
        margin: 0 3px;
    }

    .timerMetrics {
        margin: 7px 0 0;
    }

    .messageContainer {
        margin: 18px 0 0;
    }

}